</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>CHRS</h3>
                <i class="fab fa-cuttlefish"></i>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/groups">
                        <i class="fas fa-users"></i>
                        Groups
                    </a>
                </li>
                <li>
                    <a href="/account">
                        <i class="fas fa-user"></i>
                        Account
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <i class="fas fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul>

        </nav>