<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<link rel="stylesheet" href="/stylesheets/groups.css">
<%- include('partials/sidebar', {activeTab: 'groups'}); %>


<!-- Page Content  -->
<div class="container mt-3">
    <!-- top section -->
    <div class="row d-flex flex-row justify-content-between">
        <h1 class="col-3">My Groups</h1>

        <div>
            <button type="button" id="plusGroup" class="btn btn-dark" data-toggle="modal" data-target="#newGroup">
                <i class="fas fa-plus-square"></i>
                <span>Group</span>
            </button>
            <button type="button" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-bars"></i>
            </button>
        </div>


    </div>
    <!-- hr -->
    <div class="row d-flex flex-row">
        <div class="col-6">
            <hr>
        </div>
    </div>

    <!-- groups -->
    <div class="row">
        <div class="card text-white bg-dark col-lg-3 col-6">
            <div class="card-body">
                <h5 class="card-title">AA House</h5>
                <p class="card-subtitle">Maintainer: zboyle</p>
            </div>
        </div>
        <div class="card col-lg-3 col-6">
            <div class="card-body">

                <h5 class="card-title">The ROC</h5>
                <p class="card-subtitle">Maintainer: jeffb</p>
            </div>
        </div>
        <div class="card col-lg-3 col-6">
            <div class="card-body">

                <h5 class="card-title">ADPi</h5>
                <p class="card-subtitle">Maintainer: brittboy</p>
            </div>
        </div>
        <div class="card col-lg-3 col-6">
            <div class="card-body">

                <h5 class="card-title">beyblade arena</h5>
                <p class="card-subtitle">Maintainer: bradyb</p>
            </div>
        </div>
    </div>

    <!-- new group form -->
    <div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="newGroupModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="group-name" class="col-form-label">Group Name:</label>
                            <input type="text" class="form-control" id="new-group-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="newGroupBtn" class="btn btn-primary">Create Group</button>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/scripts %>
<script src="/javascripts/sidebar.js"></script>
<script src="/javascripts/groups.js"></script>
<% include partials/footer %>