<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/home.css">
<% include partials/sidebar %>

<!-- Page Content  -->
<div id="content" class="container mt-3">

	<div class="row d-flex flex-row justify-content-between">
		<h1 class="col-3">Jobs</h1>
		<button type="button" id="sidebarCollapse" class="btn btn-dark">
			<i class="fas fa-align-left"></i>
			<span>Toggle Sidebar</span>
		</button>
	</div>
	<div class="row d-flex flex-row">
		<div class="col-6">
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="card text-white bg-dark col-lg-3 col-6">
			<div class="card-body">
				<h5 class="card-title">Do Dishes</h5>
				<p class="card-text"><strong>Group:</strong> 524 S. Forest</p>
				<p class="card-text"><strong>Description:</strong> Remember to use the soap under the sink</p>
				<a href="#" class="btn btn-primary">Button</a>
			</div>
		</div>
		<div class="card col-lg-3 col-6">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Button</a>
			</div>
		</div>
		<div class="card col-lg-3 col-6">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Button</a>
			</div>
		</div>
		<div class="card col-lg-3 col-6">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Button</a>
			</div>
		</div>
	</div>
</div>

<% include partials/scripts %>
<script src="/javascripts/home.js"></script>
<% include partials/footer %>