<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/sidebar.css">
<link rel="stylesheet" href="/stylesheets/settings.css">
<%- include('partials/sidebar', {activeTab: 'settings'}); %>


<!-- Page Content  -->
<div class="container mt-3">
	<!-- top section -->
	<div class="row d-flex flex-row justify-content-between">
		<h1 class="col-3">Settings</h1>
		<button type="button" id="sidebarCollapse" class="btn btn-dark">
			<i class="fas fa-bars"></i>
		</button>
	</div>
	<!-- hr -->
	<div class="row d-flex flex-row">
		<div class="col-6">
			<hr>
		</div>
	</div>

	<div class="row flex-row justify-content-center mb-3">
		<div class="col-6">
			<!-- placeholders should be the users info -->
			<h2>Appearance</h2>
			<hr>

			<!-- theme setting -->
			<div class="setting row flex-row justify-content-between">
				<div class="col-3">
					<h5>Theme</h5>
				</div>
				<div class="col-3">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="darkTheme"
							value="dark">
						<label class="form-check-label" for="darkTheme"><i class="fas fa-moon"></i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="lightTheme"
							value="light" checked>
						<label class="form-check-label" for="lightTheme"><i class="fas fa-sun"></i></label>
					</div>
				</div>
			</div>

			<!-- sidebar setting -->
			<div class="setting row flex-row justify-content-between">
				<div class="col-10">
					<h5>Sidebar collapsed by default</h5>
				</div>
				<div class="col-2 form-check">
					<input type="checkbox" class="form-check-input" id="collapseDefault">
				</div>
			</div>

		</div>
	</div>

</div>


<% include partials/scripts %>
<script src="/javascripts/sidebar.js"></script>
<script src="/javascripts/settings.js"></script>
<% include partials/footer %>