.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #1c73ff;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header i {
  display: none;
}

#sidebar.active .sidebar-header h3 {
  display: none;
}

#sidebar.active .sidebar-header i {
  display: block;
}


a[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
  font-family: 'Ubuntu';
  background: #fafafa;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #0565ff;
  font-family: 'Righteous';
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
  padding: 0;
}

#sidebar ul li a {
  font-size: 1.5em;
  text-align: left;
  display: block;
  padding: 10px;
}

#sidebar ul li a:hover {
    color: #1c73ff;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0565ff;
}

#sidebar.active ul li a {
  /* padding: 20px 10px; */
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    margin-left: 0; 
  }


  /* Toggling the sidebar header content, 
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header i {
      display: none;
  }

  #sidebar.active .sidebar-header h3 {
      display: none;
  }

  #sidebar.active .sidebar-header i {
      display: block;
  }

  /* Downsize the navigation links font size */
  #sidebar.active ul li a {
      padding: 20px 10px;
      font-size: 0.85em;
  }

  #sidebar.active ul li a i {
      margin-right:  0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
  }
}

#sidebarCollapse {
  height: 1.5;
  display: inline-block;
}

.card {
  min-width: 350px;
  min-height: 200px;
  margin: 5px;
}
